.header {
    width: 100%;
    background-color: #111;
}

.navbar {
    display: flex;
    list-style: none;
    width: fit-content;
    margin: 0 auto;
    padding-top: 1em;
}

.navbar-link {
    font-size: 28px;
    padding: 1em;
    color: #fff;
    text-decoration: underline #ccc;
}

.wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.container {
    background-color: #fff;
    min-height: calc(100vh - 53px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    margin-top: 0;
}

.elf-container {
    background-image: url("./images/elf.jpg");
}

.grinch-container {
    background-image: url("./images/grinch.jpg");
}

.vacation-container {
    background-image: url("./images/vacation.jpg");
    background-position: top center;
    background-size: contain;
}

.App {
    background-color: #eee;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
